* {
    margin: 0;
    /* margin: 0; и padding: 0; имеется в виду, что мы обнуляем отступы, которые присутствуют по умолчанию в body - убираем белую рамку влкруг*/
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    /*- позволяет не учитывать padding при формировании длины и высоты , 
    чтобы когда мы задаем длину н-р 300рх, при добавлении паддинг 20рх длина не стала 320рх*/
}

body {
    font-family: Tahoma, sans-serif;
    /*этой записью мы говорим, что если нет шрифта Arial, найди мне любой другой без засечек*/
    color: #222222/*т.к. весь шрифт нашего макета такого цвета, он наследуется везде, поэтому мы его применяем в body */
}

header {
    background: url(img/ban.png) no-repeat center top / cover;
    /*cover- растягивает всю картинку на весь экран (не зависимо от разрешения)*/
    height: 100px;
}

.container {
    width: 940px;
    /*мы предварительно измерили ширину контейнера*/
    margin: 0 auto;
    /* margin: 0 auto; ВСЕГДА! устанавливается для того, чтобы выровнять элемент четко по центру*, т.е. выровнять наш контейнер по центру*/
}

.title {}

.title h2 {
    font-size: 42px;
    /*мы предварительно выяснили (через фотошоп) что это за шрифт*/
    font-weight: bold;
    text-align: center;
    /*выравниваем текст по центру*/
    text-transform: uppercase;
    /*т.к. в макете у нас заголовок все большими буквами*/
}

.title p {
    color: #777777;
    /*мы предварительно выяснили (через фотошоп) что это за цвет*/
    text-align: center;
    font-size: 16px;
    /*мы предварительно выяснили (через фотошоп) что это за шрифт*/
}

.servises_item {
    width: 274px;
    /*мы предварительно измерили ширину блочка*/
    float: left;
    /*Выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне.*/
    text-align: center;
}

.servises_item h3 {
    font-size: 18px;
    /*мы предварительно выяснили (через фотошоп) что это за шрифт*/
    margin-bottom: 5px;
}

.servises_item p {
    color: #777777;
    font-size: 14px;
}

.servises_item:last-child {
    /*чтобы обратиться к последнему классу, который нам например нужен и 
    который идет последним из всех, нам не нужно присваивать ему како-то отдельный класс,
    достаточно написать, что он - последний ребенок (last-child)*/
    float: right;
    /*так я говорю, что хочу, чтобы текст 
    привязался к правому боку (т.к. до этого он был привязан к левому (и все остальные тоже к левому))*/
}

.servises_item:nth-child(2) {
    margin-left: 50px;
}